dash==2.18.2
dash_bootstrap_components==1.7.1
dash_core_components==2.0.0
dash_html_components==2.0.0
kiteconnect==5.0.1
plotly==6.0.0
pyotp==2.9.0
pytest==8.3.4
python-dotenv==1.0.1
PyYAML==6.0.2
Requests==2.32.3
SQLAlchemy==2.0.38
SQLAlchemy_Utils==0.41.2
yfinance==0.2.54

SQLAlchemy-Utils~=0.41.2
dash-html-components~=2.0.0
APScheduler~=3.11.0
dash-core-components~=2.0.0
dash-bootstrap-components~=1.7.1
pandas~=2.2.3
selenium~=4.28.1
webdriver-manager~=4.0.2
cryptography~=44.0.1
twilio~=9.5.1